*{
    margin: 0;
    padding: 0;
}
.body{
    display: flex;
    background-color:blueviolet;
    flex-direction: column;
    flex: 1;
    height:100vh;
}

header{
    display: flex;
    flex: 1;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color:darkblue;
    max-height: 5vh;
    font-size: 2vh;
}

.container{
    display: flex;
    flex: 1;
    flex-direction:row;
    margin: 0 3vh 3vh;
}